    /* CSS Reset */
    body {
        background: url('../code.jpg') no-repeat center center/cover;
        font-family: 'Baloo Bhai', cursive;
        color: white;
        margin: 0px;
        padding: 0px;
    }

    .left {
        display: inline-block;
        border: 2px solid red;
        position: absolute;
        left: 60px;
        top: 20px;
    }

    .left img {
        width: 136px;
        filter: invert(100%);
    }

    .left div {
        line-height: 19px;
        font-size: 26px;
        text-align: center;
    }

    .mid {
        display: block;
        width: 65%;
        margin: 29px auto;
        /* border: 2px solid green; */
    }

    .right {
        position: absolute;
        right: 34px;
        top: 43px;
        display: inline-block;
        /* border: 2px solid yellow; */
    }

    .navbar {
        display: inline-block;
    }

    .navbar li {
        display: inline-block;
        font-size: 25px;
    }

    .navbar li a {
        color: white;
        text-decoration: none;
        padding: 34px 23px;

    }

    .navbar li a:hover,
    .navbar li a.active {
        text-decoration: underline;
        color: grey;

    }

    /* .navbar::before{
        background-color: brown;
        border: 4px solid black;
    } */

    .btn {
        font-family: 'Baloo Bhai', cursive;
        margin: 0px 9px;
        background-color: black;
        color: white;
        padding: 4px 14px;
        border: 2px solid grey;
        border-radius: 10px;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
    }

    .btn:hover {
        background-color: rgb(208, 224, 61);
        cursor: pointer;
        text-decoration: none;
        border-radius: 20px;
        
    }

#submit{
    font-family: 'Baloo Bhai', cursive;
    cursor: pointer;
    border: 2px solid rgb(32, 187, 40);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 4px 14px;
}
#submit:hover{
    padding: 4px 14px;
    font-family: 'Baloo Bhai', cursive;
    cursor: pointer;
    border: 3px solid red;
    background-color: rgb(184, 30, 171);
    border-radius: 20px;

}


    .container {
        border: 2px solid white;
        margin: 106px 80px;
        padding: 111px;
        width: 33%;
        border-radius: 28px;
    }

    .form-group input {
        font-family: 'Baloo Bhai', cursive;
        text-align: center;
        display: block;
        width: 508px;
        padding: 1px;
        border: 2px solid black;
        margin: 11px auto;
        font-size: 25px;
        border-radius: 8px;
    }

    .container h1 {
        text-align: center;
        border: 2px solid red;
        background-color: blanchedalmond;
        color: black;
    }

    .container button {
        display: block;
        width: 74%;
        margin: 20px auto;
}

#center{
text-align: center;
}

.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  
 .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }